<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>애니플랜트 : 권한 테스트</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <h1>애니플랜트 권한 테스트 페이지</h1>
  <div class="content">
    <p>이 페이지는 로그인이 필요한 페이지입니다.</p>
    <p>로그인 하지 않은 사용자가 이 페이지를 볼 수 없습니다.</p>
    <p><a href="/user/login.do">로그인 페이지로 이동</a></p>
  </div>
</body>
</html>