<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    .logo_aniplant .link {
        background-image: url("../static/img/aniplant_logo01.png");
        background-repeat: no-repeat;
        background-size: 200px 100px;
        background-position: center;
        display: block;
        width: 200px;
        height: 100px;
    }
    .blind {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
  </style>
</head>
<body>
    <h1 class="logo_aniplant">
        <a href="www.naver.com" class="link"></a>
        <span class="blind">애니플랜트</span>
    </h1>
    <div class="content">
        <form id="join_form" name="join_form" method="post" action="">
        <input type="text" id="idInput" name="id" placeholder="아이디"><br>
        <input type="password" id="passwordInput" name="password" placeholder="비밀번호"><br>
        <input type="password" id="passwordConfirmInput" name="password_confirm" placeholder="비밀번호 확인"><br>
        <input type="email" id="emailInput" name="email" placeholder="[선택] 비밀번호 분실 시 확인용 이메일"><br>
        <input type="text" id="nicknameInput" name="nickname" placeholder="닉네임" value maxlength="10"><br>
        <input type="text" id="nameInput" name="name" placeholder="이름" value maxlength="8"><br>
        <input type="date" id="birthInput" name="birth" placeholder="생년월일 8자리" value maxlength="10"><br>
        <input type="tel" id="telInput" name="tel" placeholder="'-'를 포함한 휴대전화번호" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"><br>
        <ul class="gender_list">
            <li><input type="radio" id="genderIdentity1" name="male" value="M"><label for="genderIdentity1">남자</label></li>
            <li><input type="radio" id="genderIdentity2" name="female" value="F"><label for="genderIdentity2">여자</label></li>
        </ul>
        <button type="button" id="join_btn" class="btn_submit">회원가입</button>
        </form>
    </div>
</body>
<script>
    // JS(jQuery)를 사용하여 form 데이터를 AJAX post 요청으로 회원가입 데이터 전송하는 로직
    $(document).ready(function() {
        $("#join_btn").click(function() {
            // 전화번호 세 자리로 구분하는 로직
            var telInput = $("#telInput").val();
            var telParts = telInput.split("-");
            
            var formData = {
                id: $("#idInput").val(),
                pwd: $("#passwordInput").val(),
                email: $("#emailInput").val(),
                nickname: $("#nicknameInput").val(),
                name: $("#nameInput").val(),
                birth: $("#birthInput").val(),
                countury_code: telParts[0],
                first_hp: telParts[1] ,
                second_hp: telParts[2],
                gender: $("input[name='male']:checked").val() || $("input[name='female']:checked").val()
            };

            $.ajax({
                url: "/api/register",
                type: "POST",
                data: formData,
                success: function(response) {
                    window.location.href = "join-complete.html";
                },
                error: function(xhr, status, error) {
                    alert("회원가입 중 오류가 발생했습니다.");
                }
            });
        });
    });
</script>
</html>