.content {
    font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
    width: 840px;
}
li {
    list-style-type: none;
}
.content > h2 {
    padding: 0 0 8px;
    margin: 0 0 15px;
    border-bottom: 1px solid #14b8a6;
}
.h2-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 8px;
    margin: 0 0 15px;
    border-bottom: 1px solid #14b8a6;
}
.h2-wrapper > h2 {
    padding: 0;
    margin: 0;
}
.h2-wrapper > div {
    display: flex;
}
/* 페이징 select */
#perPageNumSelect > select {
    height: 36px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(to right, #14B8A6, #43c6b8);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
#perPageNumSelect > select:focus {
    outline: #0A5E55;
}
#perPageNumSelect > select:hover {
    background: linear-gradient(to right, #109385, #14B8A6);
    box-shadow: 0 6px 8px rgba(50, 50, 93, 0.11), 0 2px 4px rgba(0, 0, 0, 0.08);
}

/* 버튼 */
.h2-wrapper div > button {
    background: linear-gradient(to right, #14B8A6, #43c6b8);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.h2-wrapper div > button:hover {
    background: linear-gradient(to right, #109385, #14B8A6);
    transform: translateY(-2px);
}
.h2-wrapper div > button:active {
    transform: translateY(0);
}
