h2 {
    padding: 5px 0px 5px;
    margin: 5px 0px 5px;
}

table caption {
    padding: .5em 0;
    
}

.content {
    font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  }
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }
  th,
  td {
    padding: 6px 15px;
  }
  th {
    background: #14a6b8;
    color: #fff;
    text-align: left;
  }
  tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
  }
  td:first-child {
    border-left: 1px solid #c6c9cc;
  }
  tr:nth-child(even) td {
    background: #dff3f5;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
  tbody tr:hover {
    background-color: rgba(20, 166, 184, 0.2);
}
tbody tr:nth-child(even):hover td {
    background-color: rgba(20, 166, 184, 0.2);
}

.sort_btn, .sort_btn_up, .sort_btn_down {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 0 3px 0;
  border: none;
	cursor: pointer;
  background-color: #14a6b8;
  background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
  vertical-align: middle;
}
.sort_btn {
  background-image: url("/img/btn-sort.png");
}
.sort_btn_up {
  background-image: url("/img/btn-sort-up.png");
}
.sort_btn_down {
  background-image: url("/img/btn-sort-down.png");
}
.table-top-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}