<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!--mypage-sidebar-->
    <div th:fragment="mypageSidebar" class="sidebar">
        <ul class="sidebar-menu">
            <a href="/mypage/profile.do">마이페이지</a>
            <li><a href="">반려친구 관리</a></li>
            <li><a href="">일정 관리</a>
                <ul>
                    <li><a href="#!">일정 관리</a></li>
                    <li><a href="#!">일정 카테고리 관리</a></li>
                </ul>
            </li>
            <li><a href="/mypage/my-info-management.do">계정 정보 관리</a></li>
            <li><a href="/mypage/my-info-withdrawal.do">계정 탈퇴</a></li>
        </ul>
        <div class="contact-us">
            <a href="">문의</a>
        </div>
    </div>
</body>
</html>